---
layout: home
---

<div id="about" class="about h50">
	<div class="panel">
		<div class="row">
			
			<div class="large-12 columns">
				<h1 class="hide-for-small">Ang Bagoong Lipunan <br><small>(The Bagoong Society)</small></h1>
				
				<p class="hide-for-small">A fictional republic in South East Asia run by an oppresive regime. The regime came unto power through Executive Order No. 118, dissolving the elected Senate and House of Representatives as well as suspending the writ of habeas corpus and suppression of free speech.</p>

				<p><a href="/bagoongsociety/about/">Learn more</a><span class="show-for-small"> about this site</span>.</p>

			</div>
		</div>	
	</div>
</div>

<div id="articles" class="articles">
	<div class="row">
		<div class="large-8 columns">
		<h3 class="text-center">*** Releases ***</h3>
		<p>News reports below are releases gathered from the Ministry of Transparency, the official propaganda arm of the Bagoong Society, with the exception of some independent news reports culled from other sources. <a href="#articles">More.</a></p>

{% for post in paginator.posts %}

		<article class="article poof">
			<div class="container">
				
				<h2><a href="{{ post.url | prepend: site.baseurl }}">
				{% if post.title_secondary %}<span class="label secondary t50">{{ post.title_secondary }}: </span><br>{% endif %}
				
				{{ post.title }}
				</a></h2>
				<span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
				<p><a href="{{ post.url | prepend: site.baseurl }}"><img src="{{ post.featured_image | prepend: site.baseurl }}"></a></p>
				<p class="caption">{{ post.excerpt | remove: '<p>' | remove: '</p>' | truncatewords: 60 }}</p>
		  		<p class="caption"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">continue reading...</a></p>
		
			</div>
		</article>			

	{% endfor %}
	<hr>

	{% if paginator.total_pages > 1 %}
	<div class="row fullwidth">
		<div class="large-8 large-centered columns text-center">
			<ul class="pagination">
			{% if paginator.previous_page %}
				<li class="arrow"><a href="{{ paginator.previous_page_path | replace: '//', '/' }}">&laquo; Prev</a></li>
			{% else %}
				<li class="arrow unavailable"><span>&laquo; Prev</span></li>
			{% endif %}
			
			{% for page in (1..paginator.total_pages) %}
				{% if page == paginator.page %}
		    		<li class="current"><a><em>{{ page }}</em></a></li>
				{% elsif page == 1 %}
					<li><a href="{{ '/index.html' | replace: '//', '/' }}">{{ page }}</a></li>
			    {% else %}
			      	<li><a href="{{ site.url }}/articles/{{ page }}">{{ page }}</a></li>
			    {% endif %}
			{% endfor %}

			{% if paginator.next_page %}
				<li class="arrow"><a href="{{ paginator.next_page_path | replace: '//', '/' }}">Next &raquo;</a></li>
			{% else %}
				<li class="arrow unavailable"><span>Next &raquo;</span></li>
			{% endif %}	
			</ul>
			
			
		</div>
	</div>
	{% endif %}
			
		</div>

		<div class="large-4 columns">
			<h4 class="text-center">*** Sidetrack ***</h4>

			<p>Listen to the official march of the Bagoong Society.</p>
			<iframe width="100%" height="80" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/60518984&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_artwork=false"></iframe>
			<hr>

			<p>{% include adzone01.html %}</p>

			<hr>

			<style>.ig-b- { display: inline-block; }
			.ig-b- img { visibility: hidden; }
			.ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
			.ig-b-v-24 { width: 137px; height: 24px; background: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24.png) no-repeat 0 0; }
			@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
			.ig-b-v-24 { background-image: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24@2x.png); background-size: 160px 178px; } }</style>
			<a href="https://www.instagram.com/bagoongsociety/?ref=badge" class="ig-b- ig-b-v-24"><img src="//badges.instagram.com/static/images/ig-badge-view-24.png" alt="Instagram" /></a>

		</div>			
	</div>
	

</div>