---
layout: home
---

<div id="about" class="about h50">
	<div class="panel">
		<div class="row">
			
			<div class="large-12 columns">
				<h1>Ang Bagoong Lipunan <br><small>(The Bagoong Society)</small></h1>
				
				<p>A fictional republic in South East Asia run by an oppresive regime. The regime came unto power through Executive Order No. 118, dissolving the elected Senate and House of Representatives as well as suspending the writ of habeas corpus and suppression of free speech.</p>

				<p>News reports below are releases gathered from the Ministry of Transparency, the official propaganda arm of the Bagoong Society with the exception of some independent new reports from other sources.</p>

			</div>
		</div>	
	</div>
</div>

<div id="articles" class="articles">
	<div class="row">
		<div class="large-8 columns">

{% for post in paginator.posts %}

		<article class="article poof">
			<div class="container">
				
				<h2><a href="{{ post.url | prepend: site.baseurl }}">
				{% if post.title_secondary %}<span class="label secondary t50">{{ post.title_secondary }}: </span><br>{% endif %}
				
				{{ post.title }}
				</a></h2>
				<span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
				<p><a href="{{ post.url | prepend: site.baseurl }}"><img src="{{ post.featured_image | prepend: site.baseurl }}"></a></p>
				<p>{{ post.excerpt | remove: '<p>' | remove: '</p>' | truncatewords: 60 }}</p>
		  		<p><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">continue reading...</a></p>
		
			</div>
		</article>			

	{% endfor %}
	<hr>

	{% if paginator.total_pages > 1 %}
	<div class="row fullwidth">
		<div class="large-8 large-centered columns text-center">
			<ul class="pagination">
			{% if paginator.previous_page %}
				<li class="arrow"><a href="{{ paginator.previous_page_path | replace: '//', '/' }}">&laquo; Prev</a></li>
			{% else %}
				<li class="arrow unavailable"><span>&laquo; Prev</span></li>
			{% endif %}
			
			{% for page in (1..paginator.total_pages) %}
				{% if page == paginator.page %}
		    		<li class="current"><a><em>{{ page }}</em></a></li>
				{% elsif page == 1 %}
					<li><a href="{{ '/index.html' | replace: '//', '/' }}">{{ page }}</a></li>
			    {% else %}
			      	<li><a href="{{ site.url }}/articles/{{ page }}">{{ page }}</a></li>
			    {% endif %}
			{% endfor %}

			{% if paginator.next_page %}
				<li class="arrow"><a href="{{ paginator.next_page_path | replace: '//', '/' }}">Next &raquo;</a></li>
			{% else %}
				<li class="arrow unavailable"><span>Next &raquo;</span></li>
			{% endif %}	
			</ul>
			
			
		</div>
	</div>
	{% endif %}
			
		</div>

		<div class="large-4 columns">
			<iframe width="100%" height="80" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/60518984&amp;color=ff5500&amp;auto_play=true&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_artwork=false"></iframe>
			<p>{% include adzone01.html %}</p>

		</div>			
	</div>
	

</div>